In [1]:
# Dependencies 
import pandas as pd
from path import Path
import numpy as np

# Load the csv file 
file_load = Path("../Resources/loans.csv")
df = pd.read_csv(file_load)
df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

In [2]:
# Separate the datasets into Target and Features
X = df.copy()
X = X.drop(columns="status")
y = df.status

In [6]:
# Split data into training and testing sets 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(75, 5)

In [7]:
# instantiate the SVC module
from sklearn.svm import SVC
model = SVC(kernel="linear")

In [8]:
# Train the instantiated model with fit()
model.fit(X_train, y_train)

SVC(kernel='linear')

In [11]:
# create predictions with the model
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Predictions": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

  Predictions   Actual
0     approve     deny
1        deny  approve
2        deny     deny
3     approve     deny
4        deny     deny

In [12]:
# To assess the accuracy of the predictions with accuracy_score()
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6

In [ ]:
# to genearte confusion_matrix table 
from sklearn.metrics import confusion_mat