In [1]:
# import dependencies
import pandas as pd
from path import Path 
import os 

file_load = os.path.join("..", "Resources", "loans_data_encoded.csv")
encoded_df = pd.read_csv(file_load)
encoded_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [8]:
# Scale the features 
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

# Train the scaler and transform the data
# can use fit_tranform or use fit() and transform() sequentially
loans_data_scaled = data_scaler.fit_transform(encoded_df)

# To previw the data
loans_data_scaled.shape

(500, 11)

In [12]:
# Verify the mean of each column is 0 and SD is 1 for first column at 0 
import numpy as np
#for i in loans_data_scaled
print(np.mean(loans_data_scaled[:,0]))
print(np.std(loans_data_scaled[:,0]))

-3.552713678800501e-16
0.9999999999999999