In [1]:
# import dependencies
import pandas as pd
from path import Path

file_load = Path("../Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_load)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [2]:
# Split the data into input and output (target) variables 
X = df_loans.copy()
X = df_loans.drop(columns="bad", axis=1)
y = df_loans["bad"].values.reshape(-1, 1)

In [22]:
# Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

# Determine the shape of training and testing sets
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(375, 10)
(125, 10)
(375, 1)
(125, 1)

In [23]:
# To modify the desired split with train_size
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=42, train_size=0.8)

# Determine the shape of training and testing sets
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(400, 10)
(100, 10)
(400, 1)
(100, 1)

In [24]:
# Scale the training and testing data with StandarScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit the Standard Scaler with training data
X_scaled = scaler.fit(X_train)

# Scaling the data 
X_train_scaled = X_scaled.transform(X_train)
X_test_scaled = X_scaled.transform(X_test)

In [25]:
X_train_scaled[:5]

array([[ 0.50414236,  0.90735691, -0.16284939, -0.1286646 , -0.39223227,
         1.13427746, -0.10383483, -0.84863625,  2.38671921, -2.38671921],
       [-1.27100681, -0.96700321, -0.32613421, -0.73177989, -0.39223227,
        -0.8816185 , -0.10383483,  1.17836116, -0.41898519,  0.41898519],
       [ 0.50414236,  0.90735691, -0.81598866,  0.77600835, -0.39223227,
         1.13427746, -0.10383483, -0.84863625, -0.41898519,  0.41898519],
       [ 0.50414236,  0.90735691, -0.48941903,  0.17289305, -0.39223227,
        -0.8816185 , -0.10383483,  1.17836116, -0.41898519,  0.41898519],
       [-1.27100681, -0.96700321, -0.81598866, -1.33489519, -0.39223227,
         1.13427746, -0.10383483, -0.84863625, -0.41898519,  0.41898519]])

In [26]:
X_test_scaled[:5]

array([[ 5.04142365e-01,  9.07356908e-01, -1.62849392e-01,
         1.37912364e+00, -3.92232270e-01, -8.81618503e-01,
        -1.03834826e-01,  1.17836116e+00, -4.18985190e-01,
         4.18985190e-01],
       [ 5.04142365e-01,  9.07356908e-01,  4.90289880e-01,
        -1.63645284e+00, -3.92232270e-01,  1.13427746e+00,
        -1.03834826e-01, -8.48636251e-01, -4.18985190e-01,
         4.18985190e-01],
       [-1.27100681e+00, -9.67003212e-01, -6.52703846e-01,
         1.68068129e+00, -3.92232270e-01,  1.13427746e+00,
        -1.03834826e-01, -8.48636251e-01, -4.18985190e-01,
         4.18985190e-01],
       [-5.70887974e+00, -1.96666194e+00,  6.53574699e-01,
         1.68068129e+00, -3.92232270e-01, -8.81618503e-01,
        -1.03834826e-01,  1.17836116e+00, -4.18985190e-01,
         4.18985190e-01],
       [ 5.04142365e-01,  9.07356908e-01,  4.35426182e-04,
        -1.33489519e+00,  2.54950976e+00, -8.81618503e-01,
        -1.03834826e-01, -8.48636251e-01, -4.18985190e-01,
         4.18985190e-01]])

## Make Predictions and Evaluate Results

In [27]:
# Fit the decision Model 
# Creating the decision tree classifier model 
from sklearn import tree
model = tree.DecisionTreeClassifier()

# Fitting the model 
model = model.fit(X_train_scaled, y_train)

In [28]:
# Making predictions using testing data 
predictions = model.predict(X_test_scaled)
predictions

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [30]:
# Evaluate the model 
# confusion_matrix to get the entries, confession_report
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
cm = confusion_matrix(y_test, predictions)

# Create DataFrame from confusion matrix
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
cm_df.head()

          Predicted 0  Predicted 1
Actual 0           36           39
Actual 1           32           18

In [31]:
# Calculate the accuracy score of the prediction 
acc_score = accuracy_score(y_test, predictions)
acc_score

0.432

In [36]:
# Displaying results 
print("confusion_matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")

print("Classification Report")
print(classification_report(y_test, predictions))

confusion_matrix

          Predicted 0  Predicted 1
Actual 0           36           39
Actual 1           32           18

Accuracy Score: 0.432
Classification Report
              precision    recall  f1-score   support

           0       0.53      0.48      0.50        75
           1       0.32      0.36      0.34        50

    accuracy                           0.43       125
   macro avg       0.42      0.42      0.42       125
weighted avg       0.44      0.43      0.44       125